@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<h3>And now also with Continuous Delivery using Git and TeamCity.</h3>
<h4>Implementing feature1.</h4>
<h4>Changed the meaning of the last two headers according to feature2.</h4>
