@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<h3>And now also with Continuous Delivery using Git and TeamCity.</h3>
<h4>Implementing feature1.</h4>
<h4>Adding another header.</h4>
<h4>Adding yet another header.</h4>
